* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #2c2c2c;
    color: #333;
}

header {
    background: #363636;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: 6px solid #005222;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

.tabs {
    display: flex;
    justify-content: center;
    background: rgb(41, 41, 41);
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #023600;
}

.tab {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    background: #e3e8f5;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.tab:hover {
    background: #cdd7ff;
}

.tab.active {
    background: #00743a;
    color: white;
}

main {
    padding: 20px;
}

.placeholder {
    text-align: center;
    color: #777;
    font-size: 16px;
    margin-top: 20px;
}

/* Estilo de cards */
.card {
    background: white;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.card h3 {
    margin-bottom: 6px;
    font-size: 20px;
}

.card p {
    margin: 4px 0;
    color: #555;
}
